@model MOM2.ViewModels.BookstoreViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BookstoreViewModel</h4>
<hr /> 
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            @if (ViewBag.Message != null)
            {
                <h5 class="alert alert-danger">@ViewBag.Message </h5>
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="AuthorId" class="control-label"></label>
                <select asp-for="AuthorId" class="form-control" asp-items="@( new SelectList (Model.authors,"id","FullName" ) )"></select>
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="file" class="control-label"></label>
                <input type="file" asp-for="file" class="form-control" />
                <span asp-validation-for="file" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
</div>


